DEBUG_MODE=false
DUMMY_MODE=false

CONSUMER_KEY=YOUR_TWITTER_CONSUMER_KEY
CONSUMER_SECRET=YOUR_TWITTER_CONSUMER_SECRET
LIFETIME=2592000
WHITELIST[]=FIRST_TWITTER_ACOUNT_ID
;WHITELIST[]=SECOND_TWITTER_ACOUNT_ID

REDIS_HOST=
REDIS_PREFIX=login_
